<div class="flex flex-row items-center justify-center fixed right-0 p-2 m-2">
    <select
        class="bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
        (change)="switchLang($event)">
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="de">German</option>
    </select>
</div>

<div class="flex flex-col items-center justify-center">
    <h1 class="text-xl font-bold mb-8 mt-4 tracking-widest">{{ 'app.title' | translate}}</h1>
    <div class="w-96 bg-white shadow-md rounded-lg p-6">
        <div class="mb-4">
            <label for="zone" class="block text-gray-700 text-sm font-bold mb-2">
                {{'app.select.zone' | translate}}
            </label>
            <select id="zone"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                [(ngModel)]="zone">
                <option *ngFor="let territory of territories" [value]="territory"
                    class="bg-white hover:bg-gray-100 text-gray-700 hover:text-gray-900">{{ territory }}</option>
            </select>
        </div>
        <div>
            <label for="date" class="block text-gray-700 text-sm font-bold mb-2">
                {{'app.select.date' | translate}}
            </label>
            <input type="number" id="date"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                [(ngModel)]="year" [min]="minYear" [max]="maxYear" required>
            <span class="text-xs text-gray-500 ">{{'app.select.date.tip' | translate}} {{minYear}} - {{maxYear}}</span>
        </div>

        <div class="flex items-center justify-end mt-4">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
                (click)="fetchHolidays()">
                {{'app.select.button' | translate}}
            </button>
        </div>
    </div>
</div>


<div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    <div *ngFor="let entry of holidays | keyvalue"
        class="bg-white shadow-md rounded-lg overflow-hidden transform hover:scale-105 transition-transform duration-300">
        <div class="flex flex-col justify-center h-full px-6 py-8">
            <div class="font-bold text-xl mb-4 text-center">{{ entry.value }}</div>
            <p class="text-gray-700 text-base text-center">{{ entry.key }}</p>
        </div>
    </div>
</div>